In [5]:
import pandas as pd
from pathlib import Path
import pyarrow.parquet as pq

month = 8
year = 2024
path = Path("..") / "data" / "processed" / f"ts_data_{year}_{month:02}.parquet"

table = pq.read_table(path)
ts_data = table.to_pandas()
ts_data.head()

          pickup_hour  start_station_id  rides
0 2024-07-31 18:00:00              5626      3
1 2024-08-01 00:00:00              5626     47
2 2024-08-01 06:00:00              5626    282
3 2024-08-01 12:00:00              5626    227
4 2024-08-01 18:00:00              5626    303

In [6]:
ts_data[ts_data["start_station_id"]==5626].head(8)

          pickup_hour  start_station_id  rides
0 2024-07-31 18:00:00              5626      3
1 2024-08-01 00:00:00              5626     47
2 2024-08-01 06:00:00              5626    282
3 2024-08-01 12:00:00              5626    227
4 2024-08-01 18:00:00              5626    303
5 2024-08-02 00:00:00              5626     60
6 2024-08-02 06:00:00              5626    188
7 2024-08-02 12:00:00              5626    293