In [10]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [11]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
import numpy as np

In [13]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

# Now you can import from src
from src.data_utils import load_and_process_taxi_data

In [5]:
rides = load_and_process_taxi_data(year=2024)

File already exists for 2024-01.
Loading data for 2024-01...
Total records: 1,881,640
Valid records: 57,196
Records dropped: 1,824,444 (96.96%)
Successfully processed data for 2024-01.
File already exists for 2024-02.
Loading data for 2024-02...
Total records: 2,115,518
Valid records: 68,438
Records dropped: 2,047,080 (96.76%)
Successfully processed data for 2024-02.
File already exists for 2024-03.
Loading data for 2024-03...
Total records: 2,655,667
Valid records: 80,317
Records dropped: 2,575,350 (96.98%)
Successfully processed data for 2024-03.
File already exists for 2024-04.
Loading data for 2024-04...
Total records: 3,208,493
Valid records: 98,794
Records dropped: 3,109,699 (96.92%)
Successfully processed data for 2024-04.
File already exists for 2024-05.
Loading data for 2024-05...
Total records: 4,219,327
Valid records: 124,424
Records dropped: 4,094,903 (97.05%)
Successfully processed data for 2024-05.
File already exists for 2024-06.
Loading data for 2024-06...
Total records: 4,767,659
Valid records: 139,068
Records dropped: 4,628,591 (97.08%)
Successfully processed data for 2024-06.
File already exists for 2024-07.
Loading data for 2024-07...
Total records: 4,706,150
Valid records: 139,111
Records dropped: 4,567,039 (97.04%)
Successfully processed data for 2024-07.
File already exists for 2024-08.
Loading data for 2024-08...
Total records: 4,586,537
Valid records: 136,344
Records dropped: 4,450,193 (97.03%)
Successfully processed data for 2024-08.
File already exists for 2024-09.
Loading data for 2024-09...
Total records: 4,979,857
Valid records: 150,776
Records dropped: 4,829,081 (96.97%)
Successfully processed data for 2024-09.
File already exists for 2024-10.
Loading data for 2024-10...
Total records: 5,131,292
Valid records: 160,539
Records dropped: 4,970,753 (96.87%)
Successfully processed data for 2024-10.
File already exists for 2024-11.
Loading data for 2024-11...
Total records: 3,696,124
Valid records: 119,260
Records dropped: 3,576,864 (96.77%)
Successfully processed data for 2024-11.
File already exists for 2024-12.
Loading data for 2024-12...
Total records: 2,302,229
Valid records: 74,450
Records dropped: 2,227,779 (96.77%)
Successfully processed data for 2024-12.
Combining all monthly data...
Data loading and processing complete!

In [14]:
rides

                     started_at  pickup_location_id         pickup_slot
0       2024-01-22 12:18:53.512                5779 2024-01-22 12:00:00
1       2024-01-13 18:52:26.496                5779 2024-01-13 18:00:00
2       2024-01-31 16:59:37.612                5779 2024-01-31 12:00:00
3       2024-01-04 07:17:28.970                5779 2024-01-04 06:00:00
4       2024-01-12 09:06:28.532                5779 2024-01-12 06:00:00
...                         ...                 ...                 ...
1348712 2024-12-31 15:13:28.576                5905 2024-12-31 12:00:00
1348713 2024-12-31 10:34:32.031                5905 2024-12-31 06:00:00
1348714 2024-12-16 19:57:45.426                5905 2024-12-16 18:00:00
1348715 2024-12-24 12:14:00.493                5905 2024-12-24 12:00:00
1348716 2024-12-20 19:08:39.000                5905 2024-12-20 18:00:00

[1348717 rows x 3 columns]

In [15]:
from src.data_utils import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data.head()
ts_data.shape

          pickup_hour  pickup_location_id  rides
0 2023-12-31 18:00:00                5626      4
1 2024-01-01 00:00:00                5626     49
2 2024-01-01 06:00:00                5626     42
3 2024-01-01 12:00:00                5626    114
4 2024-01-01 18:00:00                5626     57

(7325, 3)

In [21]:
from src.data_utils import transform_ts_data_info_features_and_target_loop

features, targets = transform_ts_data_info_features_and_target_loop(ts_data, window_size=4*28, step_size=1)

In [22]:
features.shape, targets.shape

((6765, 114), (6765,))

In [23]:
tabular_data = features
tabular_data["target"] = targets

from src.config import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / "tabular_data.parquet", engine="pyarrow")

In [24]:
features.head()

,rides_t-112,rides_t-111,rides_t-110,rides_t-109,rides_t-108,rides_t-107,rides_t-106,rides_t-105,rides_t-104,rides_t-103,...,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_hour,pickup_location_id,target
0,4,49,42,114,57,7,110,112,86,14,...,39,66,205,111,26,30,56,2024-01-28 18:00:00,5626,70
1,49,42,114,57,7,110,112,86,14,103,...,66,205,111,26,30,56,70,2024-01-29 00:00:00,5626,12
2,42,114,57,7,110,112,86,14,103,135,...,205,111,26,30,56,70,12,2024-01-29 06:00:00,5626,112
3,114,57,7,110,112,86,14,103,135,97,...,111,26,30,56,70,12,112,2024-01-29 12:00:00,5626,123
4,57,7,110,112,86,14,103,135,97,10,...,26,30,56,70,12,112,123,2024-01-29 18:00:00,5626,99

In [25]:
ts_data.head(36)

           pickup_hour  pickup_location_id  rides
0  2023-12-31 18:00:00                5626      4
1  2024-01-01 00:00:00                5626     49
2  2024-01-01 06:00:00                5626     42
3  2024-01-01 12:00:00                5626    114
4  2024-01-01 18:00:00                5626     57
5  2024-01-02 00:00:00                5626      7
6  2024-01-02 06:00:00                5626    110
7  2024-01-02 12:00:00                5626    112
8  2024-01-02 18:00:00                5626     86
9  2024-01-03 00:00:00                5626     14
10 2024-01-03 06:00:00                5626    103
11 2024-01-03 12:00:00                5626    135
12 2024-01-03 18:00:00                5626     97
13 2024-01-04 00:00:00                5626     10
14 2024-01-04 06:00:00                5626    128
15 2024-01-04 12:00:00                5626    103
16 2024-01-04 18:00:00                5626     75
17 2024-01-05 00:00:00                5626     18
18 2024-01-05 06:00:00                5626    109
19 2024-01-05 12:00:00                5626    148
20 2024-01-05 18:00:00                5626    117
21 2024-01-06 00:00:00                5626     28
22 2024-01-06 06:00:00                5626     69
23 2024-01-06 12:00:00                5626    117
24 2024-01-06 18:00:00                5626     38
25 2024-01-07 00:00:00                5626     15
26 2024-01-07 06:00:00                5626     44
27 2024-01-07 12:00:00                5626    130
28 2024-01-07 18:00:00                5626     73
29 2024-01-08 00:00:00                5626      5
30 2024-01-08 06:00:00                5626    114
31 2024-01-08 12:00:00                5626    115
32 2024-01-08 18:00:00                5626     98
33 2024-01-09 00:00:00                5626     13
34 2024-01-09 06:00:00                5626    141
35 2024-01-09 12:00:00                5626     51